<div class="foto">
	<h1><%= @foto.name %></h1>
	<%= image_tag @foto.image.url(:large) %>
</div>

<div class="comments">
	<h2>Comments!</h2>
	<ul>
		<% @comments.each do |comm| %>
		<p><%= comm.user.username %></p>
			<li><%= comm.comment %></li>
			<% end %>
	</ul>
</div>
<div class="links">
<%= link_to 'New Comment', new_foto_comment_path(@foto) %>
<%= link_to 'Delete Foto', foto_path(@foto), method: :delete %>
<%= link_to 'Edit Foto', edit_foto_path(@foto) %>
</div>