<!DOCTYPE html>
<html>
  <head>
    <title>FotoComment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
	<div class="container">
	<div class="nav">
    <% if current_user %>
      <h1><%= current_user.username %></h1>
      <%= link_to 'Log out', session_path, method: :delete %>
      <%= link_to 'Foto Feed', root_path %>
      <%= link_to 'New Foto', new_foto_path %>
      <%= link_to 'My Fotos', fotos_path %>
      <% else %>
      <%= link_to 'Log in', new_session_path %>
      <%= link_to 'Create account', new_user_path %>
      <%= link_to 'Fotos Feed', root_path %>
    <% end %>

    <% if flash[:notice].present? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:error].present? %>
      <div class="errors">
        <b>Errors:</b>

        <%= flash[:error] %>
      </div>
    <% end %>
	</div>
	
	<div class="feed">
    <%= yield %>
	</div>
	</div>

  </body>
</html>
